html {
  height: 100%;
}
body {
  background: #efefef;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* carousel */
.el-carousel__indicators {
  bottom: 20px;
}
.el-carousel__button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* card */
.el-card__header {
  padding: 0.5rem 1rem;
  font-weight: 500;
}

/* form */

